/* Basis */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
.Header {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/* Logo */
.Header h1 {
    margin: 0;
}

/* Navigatie menu */
.Desktop-Nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Links en knoppen */
.Desktop-Nav a,
.dropbtn {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 15px;
    display: inline-block;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #aaa;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black;
    background-color: #ddd;
}

.dropdown-content a:hover {
    background-color: #ccc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main content */
.MainContent {
    flex: 1;
    padding: 30px 5vw;
    background-color: white;
}

/* Footer */
.Footer {
    background-color: rgb(2, 129, 2);
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9em;
}

/* Diensten blokken */
.diensten {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.dienst {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    color: white;
}
.dienst img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.locatielijst {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.locatielijst li {
    background-color: #e0e0e0;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1.1em;
}

.Warning {
    background-color: #ffa500; /* Oranje */
    color: black;
    text-align: center;
    
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
